body {
    font-family: Arial;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background: #111;
    color: #fff;
}

a {
    text-decoration: none;
    color: #f4c430;
}